html
	head
		link(rel="stylesheet" type="text/css" href="stylesheets/main.min.css")
		meta(charset="utf-8")
		title Аукцион
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	body
		include header
		div.container
			div.helper
				include picturesContent
			div.button__pic 
				p Участвующие в торгах
	script(src="js/pictures.js")
		
				

		